name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions: read-all

    strategy:
      matrix:
        node-version: [20]

    steps:
      - uses: actions/checkout@v4
      - name: Using Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: build-challenge Build
        run: |
          pushd build-challenge
          npm ci
          npm run mcaddon
          popd

      - name: custom-components Build
        run: |
          pushd custom-components
          npm ci
          npm run mcaddon
          popd

      - name: editor-basics Build
        run: |
          pushd editor-basics
          npm ci
          npm run mcaddon
          popd

      - name: editor-script-box Build
        run: |
          pushd editor-basics
          npm ci
          npm run mcaddon
          popd
  
      - name: howto-gallery Build
        run: |
          pushd howto-galler
          npm ci
          npm run mcaddon
          popd

      - name: script-box Build
        run: |
          pushd script-box
          npm ci
          npm run mcaddon
          popd

      - name: ts-starter Build
        run: |
          pushd ts-starter
          npm ci
          npm run mcaddon
          popd

      - name: ts-starter-complete-cotta Build
        run: |
          pushd ts-starter-complete-cotta
          npm ci
          npm run mcaddon
          popd